body {
    font-size: 17px;
}

a {
    @apply .no-underline;
    @apply .text-indigo-700;

    &:hover {
        @apply .text-indigo-900;
    }
}

blockquote {
    @apply .border-indigo-400;
    @apply .border-l-4;
    @apply .font-normal;
    @apply .italic;
    @apply .my-8;
    @apply .pl-6;
    @apply .text-gray-800;
    @apply .text-lg;
}

code {
    @apply .px-2;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
    background-color: #e9eff3;
    font-size: .8em;
    border: 1px dashed #b9c6d1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply .leading-tight;
    @apply .mb-4;
    @apply .mt-8;
    @apply .text-black;
    @apply .font-heading;
    @apply .font-bold;

    &:first-child {
        @apply .mt-0;
    }
}

h1 {
    @apply .text-5xl;
}

h2 {
    @apply .text-4xl;
}

h3 {
    @apply .text-3xl;
}

h4 {
    @apply .font-light;
    @apply .text-2xl;
}

h5 {
    @apply .font-light;
    @apply .text-xl;
}

h6 {
    @apply .font-light;
    @apply .text-lg;
}

hr {
    @apply .border-b;
    @apply .border-indigo-400;
    @apply .my-12;
    @apply .rounded-full;
}

li {
    ul,
    ol {
        @apply .my-0;
    }
}

ol,
ul {
    @apply .my-4;
}

p {
    @apply .my-5;
}
