.markdown {
  .hljs {
    @apply .text-gray-100;
    @apply .p-4;
  }

  .hljs-comment {
    @apply .text-gray-600;
  }
  .language-html {
    .hljs-attr {
      color: #ff9800;
    }
  }

  h1 {
    @apply .mb-4;
    @apply .mt-10;

    &:first-child {
      @apply .mt-6;
    }
  }

  h2 {
    @apply .mb-4;
    @apply .mt-10;

    &:first-child {
      @apply .mt-6;
    }
  }

  h3 {
    @apply .mb-4;
    @apply .mt-10;

    &:first-child {
      @apply .mt-6;
    }
  }

  h4 {
    @apply .font-bold;
  }

  h5 {
    @apply .text-indigo-600;
    @apply .uppercase;
    @apply .text-base;
    @apply .font-bold;
  }

  h6 {
    background: #1C1D21;
    color: #7f8ea5;
    padding: 1em;
    border-bottom: 1px solid #111;
    font-size: .75em;
    font-weight: 600;
    @apply .rounded-t;
    @apply .mb-0;
    margin-top: 1rem;
  }

  hr {
    @apply .border;
    @apply .border-gray-500;
    @apply .mb-4;
    @apply .mt-10;
  }

  img {
    @apply .max-w-full;
  }

  li {
    @apply .mb-3;

    > ul {
      @apply .pl-4;
    }
  }

  ol {
    @apply .my-4;
    @apply .pl-4;

    list-style-type: decimal;
  }

  ul {
    @apply .my-4;
    @apply .pl-2;
  }

  p {
    @apply .leading-normal;
    @apply .my-5;
  }
  pre {
    background-color: #1C1D21;
    color: #FFFFFF;
    @apply .shadow-md;
    @apply .rounded;
    code {
      background-color: transparent;
      border: none;
    }
  }
  pre + blockquote {
    @apply .mt-6;
  }

  h6 + pre {
    @apply .rounded-t-none;
  }

  ul {
    > li {
      @apply .leading-normal;
      @apply .mb-2;
      @apply .ml-4;
      @apply .pb-1;
      @apply .pl-5;
    }

    > li::before {
      @apply .absolute;
      @apply .bg-center;
      @apply .bg-cover;
      @apply .h-4;
      @apply .-ml-6;
      @apply .mt-1;
      @apply .w-4;

      background-image: url('/assets/img/icon-arrow.svg');
      content: '';
    }
  }
}
