.markdown {
  .hljs {
    @apply .text-gray-100;
    @apply .p-4;
  }

  .hljs-comment {
    @apply .text-gray-600;
  }
  .language-html {
    .hljs-attr {
      color: #ff9800;
    }
  }

  h1 {
    @apply .mb-4;
    @apply .mt-10;
    &:first-child {
      @apply .mt-6;
    }
  }

  h2 {
    @apply .mb-4;
    @apply .mt-10;
    &:first-child {
      @apply .mt-6;
    }
  }

  h3 {
    @apply .mb-4;
    @apply .mt-10;
    &:first-child {
      @apply .mt-6;
    }
  }

  h4 {

  }

  h5 {
    @apply .text-indigo-600;
    @apply .uppercase;
    @apply .text-base;
  }

  h6 {
    background: #1C1D21;
    color: #7f8ea5;
    padding: 1em;
    border-bottom: 1px solid #111;
    font-size: .75em;
    font-weight: 500;
    @apply .font-mono;
    @apply .rounded-t;
    @apply .mb-0;
    margin-top: 1rem;
    text-align: center;
  }

  h4 + p {
    @apply .mt-3;
  }

  h5 + p {
    @apply .mt-2;
  }

  hr {
    @apply .border;
    @apply .border-gray-500;
    @apply .mb-4;
    @apply .mt-10;
  }

  img {
    @apply .max-w-full;
    @apply .shadow-md;
    @apply .rounded;
  }

  p {
    @apply .leading-normal;
  }

  blockquote {
    @apply .bg-indigo-100;
    @apply .font-normal;
    @apply .p-4;
    //@apply .text-indigo-00;
    @apply .text-sm;
    @apply .rounded;
    @apply .border;
    @apply .border-dashed;
    @apply .border-indigo-300;

    p:first-child {
      @apply .mt-0;
    }
    p:last-child {
      @apply .mb-0;
    }
  }

  code {
    @apply .px-2;
    @apply .py-px;
    @apply .rounded;
    @apply .text-sm;
    background-color: #e9eff3;
    font-size: .8em;
    border: 1px dashed #b9c6d1;
    text-transform: none;
  }

  pre {
    background-color: #1C1D21;
    color: #FFFFFF;
    @apply .shadow-md;
    @apply .rounded;
    code {
      background-color: transparent;
      border: none;
    }
  }
  pre + blockquote {
    @apply .mt-6;
  }

  h6 + pre {
    @apply .rounded-t-none;
  }

  ol, ul {
    @apply .my-4;
    @apply .pl-4;
    > li {
      @apply .leading-normal;
      @apply .mb-1;
      @apply .pb-1;
      > p {
        @apply .my-0;
      }
    }
    ol, ul {
      @apply .my-2;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    > li {
      @apply .pl-2;
    }
    > li::before {
      @apply .absolute;
      @apply .bg-center;
      @apply .bg-cover;
      @apply .h-4;
      @apply .-ml-6;
      @apply .mt-1;
      @apply .w-4;

      background-image: url('/assets/img/icon-arrow.svg');
      content: '';
    }
  }

  table {
    @apply .w-full;
    @apply .border-collapse;
    @apply .bg-white;
    @apply .shadow-md;
    @apply .rounded;
    @apply .mb-5;
    @apply .text-sm;
    th, td {
      @apply .p-3;
      @apply .border-b;
      @apply .border-r;
      @apply .border-gray-300;
      &:last-child {
        @apply .border-r-0;
      }
    }
    th {
      @apply .uppercase;
      @apply .font-bold;
      @apply .bg-gray-200;
      @apply .text-gray-600;
      @apply .text-xs;
      letter-spacing: 1px;
    }
    td {
      @apply .text-gray-800;
    }
  }
}
